#tech-stack-card-container {
    grid-column: 1 / 2;
    grid-row: 2;
}

#tech-stack-card-content h2{
    margin: 0 0 10px 0;
    text-align: left;
}

#tech-stack-card-content h4{
    margin: 0 0 0 0;
    text-align: left;
    color: var(--subtext);
}

.carousel {
    margin: 20px 0;
}