#main-content-container-mobile {
    position: relative;
    z-index: 999;
    padding: 20px;
    overflow: scroll;
}

#mobile-pages-container {
    display: grid;
    gap: 1rem;
    margin: 20px 0;
}

#main-content-container-mobile h2 {
    font-size: larger;
}

#main-content-container-mobile h5, #main-content-container-mobile button {
    font-size: small;
}

#main-content-container-mobile h4 {
    font-size: medium;
}

#main-content-container-mobile .logos {
    width: 200px;
}

#main-content-container-mobile #hello-card-container {
    grid-column: 1;
    grid-row: 1;
}

#main-content-container-mobile #location-card-container {
    grid-column: 1;
    grid-row: 2;
}

#main-content-container-mobile #tech-stack-card-container {
    grid-column: 1;
    grid-row: 3;
}

#main-content-container-mobile #github-card-container {
    grid-column: 1;
    grid-row: 4;
}

#main-content-container-mobile #linkedin-card-container {
    grid-column: 1;
    grid-row: 5;
}

#mobile-navbar-hamburger-container {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile-navbar-hamburger {
    mask-image: url('../../assets/icons8-hamburger-menu-100.png');
    height: 60%;
    width: 60%;
    background-color: white;
}