#main-content-container-mobile {
    position: relative;
    z-index: 999;
    padding: 20px;
    overflow: scroll;
    display: grid;
    gap: 1rem;
}

#main-content-container-mobile h2 {
    font-size: larger;
}

#main-content-container-mobile h5, #main-content-container-mobile button {
    font-size: small;
}

#main-content-container-mobile h4 {
    font-size: medium;
}

#main-content-container-mobile .logos {
    width: 200px;
}

#main-content-container-mobile #hello-card-container {
    grid-column: 1;
    grid-row: 1;
}

#main-content-container-mobile #location-card-container {
    grid-column: 1;
    grid-row: 2;
}

#main-content-container-mobile #tech-stack-card-container {
    grid-column: 1;
    grid-row: 3;
}

#main-content-container-mobile #github-card-container {
    grid-column: 1;
    grid-row: 4;
}

#main-content-container-mobile #linkedin-card-container {
    grid-column: 1;
    grid-row: 5;
}