#main-content-container-mobile {
    position: relative;
    z-index: 999;
    padding: 1px;
}

#mobile-pages-container {
    display: grid;
    gap: 1rem;
    padding: 20px;
}

#main-content-container-mobile h2 {
    font-size: larger;
}

#main-content-container-mobile .carousel-icon {
    height: 25px;
    width: 25px;
}

#main-content-container-mobile h5, #main-content-container-mobile button {
    font-size: 12px;
}

#main-content-container-mobile #location-icon {
    height: 25px;
    width: 25px;
}

#main-content-container-mobile #github-icon,  #main-content-container-mobile #linkedin-icon{
    height: 40px;
    width: 40px;
}

#main-content-container-mobile h4 {
    font-size: 12px;
}

#main-content-container-mobile #tech-stack-card-container, #main-content-container-mobile #tech-stack-card-content {
    width: 100%;
    box-sizing: border-box;
}

#main-content-container-mobile #tech-stack-card-container {
    overflow: auto;
}

#main-content-container-mobile .carousel {
    box-sizing: border-box;
    width: 100%;
}

#main-content-container-mobile .logos {
    box-sizing: border-box;
    width: 100%;
}

#main-content-container-mobile #hello-card-container {
    grid-column: 1;
    grid-row: 1;
}

#main-content-container-mobile #location-card-container {
    grid-column: 1;
    grid-row: 2;
}

#main-content-container-mobile #tech-stack-card-container {
    grid-column: 1;
    grid-row: 3;
}

#main-content-container-mobile #github-card-container {
    grid-column: 1;
    grid-row: 4;
}

#main-content-container-mobile #linkedin-card-container {
    grid-column: 1;
    grid-row: 5;
}

#mobile-navbar-hamburger-container {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    margin: 20px;
}

#mobile-navbar-hamburger {
    mask-image: url('../../assets/icons8-hamburger-menu-100.png');
    height: 60%;
    width: 60%;
    background-color: var(--text-main);
}

#mobile-navbar-hamburger-container:hover {
    cursor: pointer;
    border-color: white;
    background-color: var(--navigator-hover-card-background);
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

#main-content-container-mobile #navbar-card-container {
    position: fixed;
    height: 100vh;
    z-index: 9999;
}

#main-content-container-mobile .navbar {
    align-items: flex-start;
}

#screen-block {
    width: 100vw;
    background-color: var(--navigator-hover-card-background);
    opacity: 50%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
}