#email-card-container {
    position: relative;
}

#email-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#email-card-content img {
    height: 30px;
    margin: 0 5px;
}