#email-card-container {
    background-color: #13234d;
    border-radius: 5px;
    border: solid #00BCD4 2px;
    display: flex;
    justify-content: center;
    position: relative;
}

#email-card-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email-card-content img {
    height: 30px;
    margin: 0 5px;
}