#email-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#email-icon {
    mask-image: url('../../../assets/ContactIcons/icons8-email-48.png');
    -webkit-mask-image: url('../../../assets/ContactIcons/icons8-email-48.png');
}