.logos-slide img{
    height: 30px;
    margin: 0 20px;
    vertical-align: middle;
}

.logo-caption-container {
    display: inline-block;
    margin: 0 10px;
}

.logo-caption-container h5 {
    margin: 0;
    padding: 10px 0 0 0;
    color: var(--subtext);
}

.logos-slide {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.languages-slide {
    animation: 75s slide infinite linear;
}

.logos {
    white-space: nowrap;
    width: 700px;
    padding: 20px 0 0 0;
    overflow: hidden;
    position: relative;
}

.logos:before {
    content: '';
    width: 100px;
    height: 100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0), var(--card-background));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.logos:after {
    content: '';
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--card-background));
    position: absolute;
    top: 0;
    right: 0;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    } to {
        transform: translatex(-100%);
    }
}

#sql-icon {
    mask-image: url('../../../assets/TechStackIcons/icons8-sql-100.png');
    -webkit-mask-image: url('../../../assets/TechStackIcons/icons8-sql-100.png');
}

#java-icon {
    mask-image: url('../../../assets/TechStackIcons/icons8-java.svg');
    -webkit-mask-image: url('../../../assets/TechStackIcons/icons8-java.svg');
}

#python-icon {
    mask-image: url('../../../assets/TechStackIcons/icons8-python.svg');
    -webkit-mask-image: url('../../../assets/TechStackIcons/icons8-python.svg');
}

#html5-icon {
    mask-image: url('../../../assets/TechStackIcons/icons8-html-5.svg');
    -webkit-mask-image: url('../../../assets/TechStackIcons/icons8-html-5.svg');
}

#css3-icon {
    mask-image: url('../../../assets/TechStackIcons/icons8-css3.svg');
    -webkit-mask-image: url('../../../assets/TechStackIcons/icons8-css3.svg');
}

#javascript-icon {
    mask-image: url('../../../assets/TechStackIcons/icons8-javascript.svg');
    -webkit-mask-image: url('../../../assets/TechStackIcons/icons8-javascript.svg');
}

.carousel-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}