#clipboard-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    background-color: transparent;
    padding: 4px;
    border-radius: 5px;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

#clipboard-icon {
    mask-image: url('../../assets/copy-alt.svg');
    width: 20px;
    height: 20px;
}

#clipboard-btn:hover {
    opacity: 60%;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}