#main-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 800px;
    background-color: rgb(30, 122, 203);
    position: absolute;
}