#main-content-container {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    gap: 0 0.5rem
}

.page {
    display: grid;
    gap: 1rem;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    
}

.inactive-page {
    visibility: hidden;
}