#main-content-container {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    gap: 1rem;
}

.page {
    display: grid;
}