#main-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    height: 100px;
    width: 100px;
    background-color: rgb(30, 122, 203);
}