#main-content-container {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    gap: 0 1rem;
    background-color: blue;
    width: 1200px;
}

#pages-container {
    background-color: black;
    display: relative;
    align-self: stretch;
}

.page {
    display: grid;
    gap: 1rem;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    
}

.inactive-page {
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 0;
}

