#main-content-container { /* set width of grid div and hardcode width then set grid-temp-cols */
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
    grid-template-columns: 1fr 250px; /* need more than one col so need to explicitly state rather than 100% */
    grid-template-rows: 100%; /* Takes up entire height */
    top: 50%;
    left: 50%;
    gap: 0 1rem;
    width: 1200px;
    height: 800px;
}

#pages-container {
    position: relative;
    align-self: stretch;
}

.page {
    display: grid;
    gap: 1rem;
    height: 100%;
    
}

