#location-card-container {
    background-color: #13234d;
    padding: 20px;
    border: solid #00BCD4 2px;
    grid-column: 1 / 3;
    grid-row: 3;
    border-radius: 5px;
    color: white;
}

#location-card-content h4 {
    margin: 0;
}

#location-card-content img {
    height: 30px;
    margin: 0 5px;
}

#location-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}