#background-squares-container {
    width: 100vw;
    background-color: transparent;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    place-items: center;
    gap: 0;
    position: absolute;
}

.background-square {
    background-color: transparent;
    border: solid 1px var(--grid-square-border);
    transition-duration: 4s;
    transition-property: background-color;
    aspect-ratio: 1;

}

.background-square:hover {
    background-color: var(--hover);
    transition-duration: 0.7s;
}



@media (max-width: 1100px) {
    #background-squares-container {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
}

@media (max-width: 650px) {
    #background-squares-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    
}

