#background-squares-container {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-auto-rows: minmax(100px, auto);
    overflow: hidden;
}

.background-square {
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: solid 1px #6589a1;
}