#background-squares-container {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    overflow: hidden;
    place-items: center;
    gap: 0;
    position: absolute;
}

.background-square {
    background-color: transparent;
    border: solid 1px #124367;
    transition-duration: 1.7s;
    transition-property: background-color;
    aspect-ratio: 1;

}

.background-square:hover {
    background-color: #417294;
    transition-duration: 0.7s;
}



@media (max-width: 1100px) {
    #background-squares-container {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
}

@media (max-width: 650px) {
    #background-squares-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .background-square {
        
        background-color: transparent;
        border: solid 1px #124367;
        transition-duration: 1.7s;
        transition-property: background-color;

    }
}

