#location-card-container {
    grid-column: 1 / 3;
    grid-row: 3;
}

#location-card-content h4 {
    margin: 0;
}

#location-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#location-icon {
    margin: 0 10px;
    height: 25px;
    width: 25px;
    mask-image: url('../../../assets/marker.svg');
}