#location-card-container {
    grid-column: 1 / 3;
    grid-row: 3;
}

#location-card-content h4 {
    margin: 0;
}

#location-card-content img {
    height: 30px;
    margin: 0 5px;
}

#location-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#location-icon {
    margin: 0 5px;
    height: 30px;
    width: 30px;
    mask-image: url('../../../assets/icons8-location-pin-50.png');
    -webkit-mask-image: url('../../../assets/icons8-location-pin-50.png');
}