#phone-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#phone-icon {
    mask-image: url('../../../assets/ContactIcons/icons8-phone-30.png');
    -webkit-mask-image: url('../../../assets/ContactIcons/icons8-phone-30.png');
}