#project-navigator-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

#projects-navigator-backward-pic {
    mask-image: url('../../../assets/icons8-back-100.png');
    margin: 0 20px;
    align-self: stretch;
    position: absolute;
}

#projects-navigator-forward-pic {
    mask-image: url('../../../assets/icons8-forward-100.png');
    margin: 0 20px;
    align-self: stretch;
    position: absolute;
    right: 0;
}