.project-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

.project-card {
    display: block;
}

.project-card-content h2 {
    font-size: 50px;
    margin: 0;
}

.project-card p {
    font-size: 20px;
    margin: 0;
}

.project-img-container {
    width: 400px;
    height: 300px;
    margin: 20px 0 20px 0;
    zoom: normal;
    border: 2px solid;
    border-radius: 5px;
    border-color: var(--card-border);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.project-card img {
    height: 450px;
    opacity: 50%;
}

.stack-badges {
    margin: 20px;
}

.stack-badges div {
    display: inline;
    margin: 10px;
    font-weight: bold;
    background-color: var(--background-main);
    padding: 5px;
    border-radius: 5px;
}

.project-external-link {
    background-color: var(--background-main);
    padding: 5px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 10px;
}

.project-external-link-github-icon {
    width: 30px;
    height: 30px;
    mask-image: url('../../../assets/icons8-github-64.png');
}

.project-external-link-demo-icon {
    width: 30px;
    height: 30px;
    mask-image: url('../../../assets/icons8-external-link-128.png');
}

.project-external-link h4 {
    margin: 0;
}

.projects-img-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;
    gap: 20px;
}

.project-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}