.project-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

.project-card {
    display: block;
    position: relative;
}

.project-card-content h2 {
    font-size: 50px;
    margin: 0;
}

.project-card p {
    font-size: 20px;
    margin: 0;
}

.card-description-header {
    font-weight: bold;
    margin: 0 !important;
}

.project-img-container {
    width: 400px;
    height: 400px;
    margin: 20px 0 20px 0;
    zoom: normal;
    border: 2px solid;
    border-radius: 5px;
    border-color: var(--card-border);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.project-card img {
    height: 450px;
    opacity: 50%;
}

.stack-badges {
    margin: 5px 0 20px 0;
}

.stack-badge {
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
    background-color: var(--background-main);
    padding: 5px;
    border-radius: 5px;
    border: solid 1px;
    border-color: var(--card-border);
}

.project-external-links-container {
    margin: 5px 0 20px 0;
}

.project-external-link {
    background-color: var(--background-main);
    padding: 5px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 5px;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    border: solid 1px;
    border-color: var(--accent);
}

.project-external-link:hover {
    cursor: pointer;
    background-color: var(--accent);
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.project-external-link:hover div {
    background-color: black;
}

.project-external-link:hover h4 {
    color: black;
}

.project-external-link-github-icon {
    width: 20px;
    height: 20px;
    mask-image: url('../../../assets/icons8-github-64.png');
}

.project-external-link-demo-icon {
    width: 20px;
    height: 20px;
    mask-image: url('../../../assets/icons8-external-link-128.png');
}

.project-external-link h4, .stack-badge h4 {
    margin: 0;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    font-size: 15px;
}

.projects-img-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.project-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.project-info-container p {
    margin: 5px 0 20px 0;
}

.stack-badge h5 {
    margin: 0;
}

.project-counter {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.project-counter h5 {
    margin: 0;
    user-select: none;
}