#navbar-card-container {
    background-color: #1a2a55;
    border-radius: 5px;
    border: solid #00BCD4 2px;
    text-align: left;
    grid-column: 2;
    grid-row: 1 / 3;
    height: 100%;
    align-self: stretch;
}

.navbar-link-icon {
    height: 30px;
}

.navbar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 110px;
    
}

.navbar-links li {
    display: flex;
    font-size: 22px;
    color: white;
}

.navbar-links li img {
    font-size: 22px;
    color: white;
    margin: 0 10px 0 0;
}

