#navbar-card-container {
    background-color: #13234d;
    border-radius: 5px;
    border: solid #00BCD4 2px;
    text-align: left;
    grid-column: 3;
    grid-row: 1 / 4;
    align-self: stretch;
}

.navbar-link-icon {
    height: 30px;
}

.navbar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 110px;
    
}

.navbar-links li {
    display: flex;
    font-size: 22px;
    color: white;
    padding: 15px;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    font-weight: 600;
}

.navbar-links li:hover {
    cursor: pointer;
    filter: invert(100%);
    background-color: black;
    border-radius: 5px;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.navbar-links li img {
    font-size: 22px;
    color: white;
    margin: 0 10px 0 0;
}

.navbar-active {
    filter: invert(100%);
    background-color: black;
    border-radius: 5px;
}

