#navbar-card-container {
    text-align: left;
    grid-column: 2;
    grid-row: 1 / 4;
    align-self: stretch;
    position: relative;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 110px;
    
}

.navbar-links li {
    display: flex;
    font-size: 22px;
    padding: 15px;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    font-weight: 600;
    border-radius: 50px;
    position: relative;
}

.navbar-links li::before,
.navbar-links li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--accent);
  transition: all 0.5s;
}

.navbar-links li::before {
  top: 0;
  left: 0;
}

.navbar-links li::after {
  bottom: 0;
  right: 0;
}

.navbar-links li:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.navbar-links li:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

.navbar-links li:hover {
    cursor: pointer;
}

.navbar-links li img {
    font-size: 22px;
    margin: 0 10px 0 0;
}

.navbar-active {
    background-color: transparent;
    color: var(--accent);
}

.navbar-active .navbar-icon {
    background-color: var(--accent);
}

.navbar-icon {
    height: 30px !important;
    width: 30px !important;
    margin: 0 5px;
}

#home-icon {
    mask-image: url('../../assets/NavBarIcons/icons8-home-50.png');
    -webkit-mask-image: url('../../assets/NavBarIcons/icons8-home-50.png');
}

#experience-icon {
    mask-image: url('../../assets/NavBarIcons/icons8-briefcase-64.png');
    -webkit-mask-image: url('../../assets/NavBarIcons/icons8-briefcase-64.png');
}

#projects-icon {
    mask-image: url('../../assets/NavBarIcons/icons8-projects-50.png');
    -webkit-mask-image: url('../../assets/NavBarIcons/icons8-projects-50.png');
}

#contact-icon {
    mask-image: url('../../assets/NavBarIcons/icons8-contact-50.png');
    -webkit-mask-image: url('../../assets/NavBarIcons/icons8-contact-50.png');
}

.navbar-close-icon {
    mask-image: url('../../assets/NavBarIcons/icons8-close-100.png');
    -webkit-mask-image: url('../../assets/NavBarIcons/icons8-close-100.png');
    height: 40px;
    width: 40px;
}

