#discord-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#discord-icon {
    mask-image: url('../../../assets/icons8-github-64.png');
    -webkit-mask-image: url('../../../assets/ContactIcons/icons8-discord-50.png');
}


    