.external-link {
    align-self: stretch;
    align-items: center;
    
    position: relative;
}

.external-link:hover {
    cursor: pointer;
}

.external-link:hover .icon {
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    background-color: var(--card-background);
}

.external-link:hover .external-link-icon-container {
    opacity: 100%;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    filter: invert(100%);
}

#github-card-container {
    grid-row: 1 / 2;
}

.external-link-icon-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.external-link-icon-container img {
    height: 17px;
}

#github-icon {
    mask-image: url('../../../assets/icons8-github-64.png');
    -webkit-mask-image: url('../../../assets/icons8-github-64.png');
}

