.external-link {
    align-self: stretch;
    align-items: center;
    
    position: relative;
}

.external-link:hover {
    cursor: pointer;
    
}

.external-link:hover .icon {
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    background-color: var(--card-background);
}

.external-link:hover .external-link-icon-container {
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

#github-card-container {
    grid-row: 1 / 2;
}

.external-link-icon-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: var(--card-background);
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    mask-image: url('../../../assets/icons8-external-link-128.png');
    height: 20px;
    width: 20px;
    
}

.external-link-icon-container img {
    height: 17px;
}

#github-icon {
    mask-image: url('../../../assets/github-142-svgrepo-com.svg');
}

