#hello-card-container {
    background-color: #1a2a55;
    border-radius: 5px;
    border: solid #00BCD4 2px;
    grid-column: 1;
    grid-row: 1;
}

#hello-card-container h2, #hello-card-container h5 {
    padding: 0;
    margin: 0;
}

#hello-card-content {
    width: 70%;
    text-align: left;
    padding: 20px;
    font-size: 20px;
}

#hello-card-container h5 {
    margin: 10px 0 0 0;
    color: #00BCD4;
}
