.external-link-card {
    background-color: #13234d;
    border-radius: 5px;
    border: solid #00BCD4 2px;
    grid-column: 2;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    position: relative;
}

.external-link-card-content {
    padding: 20px;
}

.external-link-card:hover {
    cursor: pointer;
    border-color: #ff432b;
    background-color: black;
    filter: invert(100%);
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.external-link-card:hover .external-link-icon-container img {
    opacity: 100%;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

#github-card-container {
    grid-row: 1 / 2;
}

.external-link-icon-container img {
    height: 17px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);

}

