.experience-card {
    align-self: stretch;
    text-align: left;
}

.experience-card ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.experience-card-content {
    padding: 10px 30px;
}

.experience-description-container h4 {
    margin: 0;
}

.experience-card-content h2 {
    margin: 0
}

.experience-description-date-location {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.experience-description-role-notes span {
    font-size: 30px;
}

.experience-description-role-notes {
    margin: 20px 0;
    height: 220px;
}

.experience-description-role-notes p {
    font-size: small;
}

.experience-card-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-card-content-header h4 {
    font-size: 13px;
}
.experience-current-badge h4 {
    background-color: var(--accent);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--card-background);
    margin: 0;
}

.experience-position-text {
    margin: 0;
}