:root {
  --background-main: #0A0A12;
  --grid-square-border: #1A1A27;
  --card-background: #151522;
  --card-border: #2A2A40;
  --text-main: #E4E6F0;
  --subtext: #979BB2;
  --accent: #aaa1ff;
  --hover: #7667ff44;
  --navigator-hover-card-background: #363658;
  --navbar-screen-block: rgb(27, 27, 43);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  transition: 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  color-scheme: light dark;
  color: var(--text-main);
  background: var(--background-main);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/*button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (prefers-color-scheme: light) {
  :root {
    --background-main: linear-gradient(135deg, #A4C8FF, #F5D3A3);
    --grid-square-border: #dce0ebff;
    --card-background: #F1F4FB;
    --card-border: #D1D6E2;
    --text-main: #2F2F2F;
    --subtext: #585858;
    --accent: #6A4CFF;
    --hover: #c0dbfbff;
    --navigator-hover-card-background: #99aaf4ff;
  }
}
