#hello-card-container {
    grid-column: 1;
    grid-row: 1;
}

#hello-card-container h2, #hello-card-container h5 {
    padding: 0;
    margin: 0;
}

#hello-card-content {
    width: 70%;
    text-align: left;
    font-size: 20px;
}

#hello-card-container h5 {
    margin: 10px 0 0 0;
    color: #00BCD4;
}
