.logos-slide img{
    height: 60px;
    margin: 0 20px;
    vertical-align: middle;
}

.logos-slide {
    display: inline-block;
    animation: slide 10s infinite linear;
}

.logos {
    white-space: nowrap;
    width: 700px;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    } to {
        transform: translatex(-100%);
    }
}
