.logos-slide img{
    height: 60px;
    margin: 0 20px;
    vertical-align: middle;
}

.logo-caption-container {
    display: inline-block;
    margin: 0;
}

.logo-caption-container h5 {
    margin: 0;
    padding: 10px 0 0 0;
    color: #00BCD4;
}

.logos-slide {
    display: inline-block;
    animation: slide 8s infinite linear;
    padding: 0;
    margin: 0;
    width: 100%;
}

.logos {
    white-space: nowrap;
    width: 700px;
    margin: 20px 0 0 0;
    overflow: hidden;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    } to {
        transform: translatex(-100%);
    }
}
