#light-dark-button {
    width: 100%;
    background-color: var(--card-background);
    border: solid 2px var(--card-border);
}

#light-dark-button:hover {
    border-color: white;
    background-color: var(--navigator-hover-card-background);
}